<nz-table 
    #borderedTable nzBordered 
    nzTitle="Requisições"
    #smallTable nzSize="small"
    [nzPageSize]="1"
    [nzFrontPagination]="true">
    <thead>
        <tr>
          <th>Nome da impressora</th>
          <th>Modelo da impressora</th>
          <th>Localização</th>
          <th>Tipo de conexão</th>
          <th>Pessoa responsável pela instalação</th>
          <th>Data da instalação</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.printerName }}</td>
        <td>{{ request.printerModel }}</td>
        <td>{{ request.location }}</td>
        <td>{{ request.typeOfConnection }}</td>
        <td>{{ request.personResponsableForInstallation }}</td>
        <!-- <td>{{ request.installationDate }}</td> -->
        <td>{{ formatDate(request.installationDate) }}</td>
        <td>
          <button nz-button nzType="primary" Theme="outline" (click)="showModalEdit(request)">Editar</button>
          <button nz-button nzType="dashed" (click)="showDeleteConfirm(request)">Deletar</button>
        </td>
      </tr>
    </tbody>
</nz-table>

<button nz-button (click)="showModalCreate()">Nova requisição</button>

<nz-modal
  [(nzVisible)]="isVisibleEditModal"
  [nzOkText]="'Salvar'"
  [nzCancelText]="'Cancelar'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="request && updateRequest(request)"
  [nzTitle]="'Editar Solicitação'"
  >
  <app-edit-printer-installation
    *nzModalContent
    [request]="request"
    (requestUpdated)="ngOnInit()">
  </app-edit-printer-installation>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleCreateModal"
  [nzOkText]="'Salvar'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="request && createRequest(request)"
  [nzTitle]="'Criar solicitação'" 
  >
  <app-edit-printer-installation
    *nzModalContent
    [request]="request"
    (requestUpdated)="ngOnInit()"
  >
  </app-edit-printer-installation>
</nz-modal>