#container {
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
}

h1 { 
    margin: 8px;
    color: #fff;
}

