@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
    padding: 0px;
    margin: 0px;

    .button { 
        background-color: #000;
        color: #fff;
        border: 8px;
        font-size: 20px;
        cursor: pointer;
    }
}